.nav2{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
ul{
    font-family: sans-serif;
    font-style: inherit;
    list-style: none;
    display: flex;
    gap: 70px;
    font-size: 20px;
}
.karzina{
    cursor: pointer;
    width: 48px;
    height: 48px;
}